
body {
  button {
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
  }
  .res-but {
    box-shadow: 0px -4px 0px 0px #414E73 inset;
  }
  .eq-but {
    box-shadow: 0px -4px 0px 0px #93261A inset;
    
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    background-color: #D03F2F;

}
 }


@tailwind base;
@tailwind components;
@tailwind utilities;

